doctype html
html(lang="en")
	head
		title Ask Amar
		script(type='text/javascript').
			if (foo) {
				 bar(1 + 5)
			}
	body
		h1 Ask Amar
		#entries
			.entry
				.date Sun 14 2015
				.question Has Anyone Really Been Far Even as Decided to Use Even Go Want to do Look More Like?
				.answer.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Praesent consectetur sed mauris varius tincidunt.
					Donec tellus nisl, feugiat sed eros non, pretium egestas mauris.
			.entry
				.date Sun 14 2015
				.question Has Anyone Really Been Far Even as Decided to Use Even Go Want to do Look More Like?
				.answer.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Praesent consectetur sed mauris varius tincidunt.
					Donec tellus nisl, feugiat sed eros non, pretium egestas mauris.
			.entry
				.date Sun 14 2015
				.question Has Anyone Really Been Far Even as Decided to Use Even Go Want to do Look More Like?
				.answer.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Praesent consectetur sed mauris varius tincidunt.
					Donec tellus nisl, feugiat sed eros non, pretium egestas mauris.
